.carousel {
    &__title {
        font-size: em(52.5);
        color: $white;
        margin-top: 0;
        font-weight: 300;
    }
    &__text {
        font-size: em(22);
        color: $white;
        font-weight: 300;
    }
}

.dots {
    button {
        margin: 0 5px;
        width: 20px;
        height: 20px;
        border-radius: 10em;
        border: none;
        background-color: transparent;
        border: 2px solid $blue;
        cursor: pointer;
        outline: none;
        &.active {
            background-color: $blue;
        }
    }
}

@media screen and (max-width: 768px) {
    .dots {
        text-align: center;
        padding-top: 5vh;
    }
    .carousel {
        &__title {
            text-align: center;
            font-size: em(30);
        }
        &__text {
            font-size: em(18);
        }
    }
}