.podologia {
    position: relative;
    z-index: 2;
    &::before {
        content: '?';
        position: absolute;
        right: 95%;
        top: 0;
        z-index: -1;
        font-size: em(400);
        line-height: .6;
        font-weight: bold;
        color: $blue;
        opacity: 0.2;
    }
    &__title {
        font-size: em(51);
        color: #03475e;
        font-weight: 400;
        margin-bottom: 10px;
    }
    &__text {
        color: #03475e;
        font-size: em(28);
        font-weight: 300;
        p {
            margin-bottom: 15px;
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 1170px) {
    .podologia {
        &::before {
            top: 50%;
            transform: translateY(-50%);
            right: 0%;
        }
    }
}

@media screen and (max-width: 768px) {
    .podologia {
        &__text {
            font-size: em(18);
        }
    }
}