.burger {
    cursor: pointer;
    margin: 0 auto;
    padding-left: 1.25em;
    position: relative;
    width: 40px;
    height: 30px;
    &__item {
        backface-visibility: hidden;
        position: absolute;
        left: 0;
        border-top: 3px solid white;
        width: 100%;
        transition: 0.55s;
        &_dark {
            border-color: $blue;
            transition: 0.55s;
        }
        &_top {
            top: 0;
            &_active {
                backface-visibility: hidden;
                top: 15px;
                transform: rotate(50deg);
                transition: 0.55s 0.5s;
            }
        }
        &_center {
            top: 13px;
            &_active {
                opacity: 0;
            }
        }
        &_footer {
            top: 26px;
            &_active {
                backface-visibility: hidden;
                top: 15px;
                transform: rotate(-410deg);
                transition: 0.55s 0.5s;
            }
        }
    }
}