section.section.section_podologia#what_is_podology
    .container.container_small
        .podologia
            h2.podologia__title Что такое подология?
            .podologia__text
                p Подология - это наука о стопе, которая включает в себя практику работы 
                    |со здоровой и проблемной стопой.
                p Особое внимание подологии направлено на профилактику заболеваний 
                    | стопы и решение проблемы ногтей на ногах