@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
body {
    font-size: 16px;
    padding: 0;
    line-height: 1.5;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
}