mixin burger(theme)
    .burger
        span.burger__item.burger__item_top(class='burger__item_' + theme)
        span.burger__item.burger__item_center(class='burger__item_' + theme)
        span.burger__item.burger__item_footer(class='burger__item_' + theme)