//Карусель начало
.carousel.owl-carousel.owl-theme.animated
    .carousel__item
        h1.carousel__title Акция 
            br
            | "Добрый день"
        p.carousel__text Данная благотворительная акция проводится в моем кабинете один раз в месяц, 
            | в ней могут принять участие люди старше 70 лет
            | и могут получить процедуру аппаратной обработки 
            | ногтей и стопы совершенно БЕСПЛАТНО. 
    .carousel__item
        h2.carousel__title Акция 
            br
            | "Добрый день" 1
        p.carousel__text Данная благотворительная акция проводится в моем кабинете один раз в месяц, 
            | в ней могут принять участие люди старше 70 лет
            | и могут получить процедуру аппаратной обработки 
            | ногтей и стопы совершенно БЕСПЛАТНО. 
    .carousel__item
        h2.carousel__title Акция 
            br
            | "Добрый день" 1
        p.carousel__text Данная благотворительная акция проводится в моем кабинете один раз в месяц, 
            | в ней могут принять участие люди старше 70 лет
            | и могут получить процедуру аппаратной обработки 
            | ногтей и стопы совершенно БЕСПЛАТНО. 
//Карусель конец